.jobs-intro img{
  height: 550px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  width: 100%;
  opacity: 0.5;
}
.jobs-intro {
    background-image:
    linear-gradient(to bottom, rgba(9, 17, 87, 1), rgba(10, 24, 145, 1));
}

.job-offer-resume{
  position: sticky;
  top:130px;
}

.card-job{
  border: 1px solid rgba(9, 17, 87, 1);
  border-radius: $border-radius-xxl;
  padding: 1rem;
  background-color: white;
}

.card-job:hover{
  opacity: 0.8;
  box-shadow: $box-shadow;
  transition: all 300ms ease-out;
}
.cta-w{
  width: fit-content;
}
