<% flash.each do |key, message| %>
  <% bootstrap_class = case key.to_sym
     when :notice then 'success'
     when :alert  then 'danger'
     when :error  then 'danger'
     else 'info'
  end %>

  <div class="alert alert-<%= bootstrap_class %> alert-dismissible fade show m-1" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
