<div class="screw-class">
  <svg width="105" height="105" viewBox="0 0 105 105" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.000427365 52.194H35.3125C44.7013 52.194 52.3125 59.8052 52.3125 69.194V104.43" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M0.000427365 52.194H52.3125V104.43" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M0.000427365 52.194H35.3125C44.7013 52.194 52.3125 59.8052 52.3125 69.194V104.43" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M0.000427365 52.194H52.3125V104.43" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M52.4307 1.19209e-07L52.4307 35.3121C52.4307 44.7009 44.8195 52.3121 35.4307 52.3121L0.194486 52.3121" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M52.4307 1.19209e-07L52.4307 52.3121L0.194486 52.3121" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M104.625 52.4302L69.3125 52.4302C59.9237 52.4302 52.3125 44.819 52.3125 35.4302L52.3125 0.193997" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M104.625 52.4302L52.3125 52.4302L52.3125 0.193997" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M104.625 52.4302L52.3125 52.4302L52.3125 0.193997" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M52.1943 104.624L52.1943 69.3121C52.1943 59.9232 59.8055 52.3121 69.1943 52.3121L104.431 52.3121" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M52.1943 104.624L52.1943 52.3121L104.431 52.3121" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
    <path d="M52.1943 104.624L52.1943 52.3121L104.431 52.3121" stroke="#D9D9D9" stroke-opacity="0.5" stroke-width="6"/>
  </svg>
</div>
