<h1>Pages#home</h1>
<p>présentation de NCC </p>



<h1>Nos dernières actualités :</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <h1><%= article.titre %></h1>
      <p><%= article.publication_date %></p>
    </li>
  <% end %>
</ul>
