trix-editor.form-control {
  height: auto;
  min-height: 150px;
  margin-top:15px;
  background: white;
}

.form-control, input, select, .form-select{
  background:white;
  border-radius: $border-radius-xl;
}
