.ncc-cta{
  padding: 6px 36px;
  color:white;
  font-size: 16px;
  border-radius: 36px;
  background: rgb(10,24,145);
  background: linear-gradient(45deg, rgba(10,24,145,1) 0%, rgba(9,17,97,1) 100%);
}
